modules = ["nodejs-16", "web"]

[nix]
channel = "stable-23_05"

[run]
args = ["yarn", "start:local:unix"]

[run.env]
HUSKY="0"

[deployment]
run = ["sh", "-c", "yarn start:local"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[[ports]]
localPort = 3000
externalPort = 80
